.contact-container{
    position: relative;
    height: 100vh;
    
    .custom-shape-divider-top-1614802043 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
 

    h2{

        margin-bottom: 2rem;
        text-align: center;
        padding-top: 50px;
        margin-top: 50px;
        margin-bottom: 80px;
        text-transform: uppercase;
        font-size: 5rem;
    }
}

.contact-form{
    position: relative;
    background: #1e242c;
    max-width: 700px;
    color: #fff;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);

    .input-fields{

        .input{
            background: transparent;
            margin: 10px;
            width: 353px;
            height: 30px;
        }


    }

        

    textarea{
        background: transparent;
        width: 353px;
        height: 152px;
        
        

    }

    .submit{
        position: absolute;
        bottom: 0;
        right: 0;
        border: 2px solid white;
        cursor: pointer;
        font-size: 12px;
        background: transparent;
        color: #fff;
        font-size: 12pt;
        margin: 5px 10px 5px 0px;
        padding: 10px 10px 10px 15px;
        height: 45px;
        color: white;
        width: 17%;

    }

}

