.projects-container{
    position: relative;


}



/*Project section */

.projects{
    min-height: 90vh;
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2{
        margin-bottom: 2rem;
        text-align: center;
        padding-top: 50px;
        margin-top: 50px;
        margin-bottom: 80px;
        text-transform: uppercase;
        font-size: 5rem;
    
    }

    h2::after{
        content:' ';
        display:block;
        border:2px solid #d0d0d0;
        border-radius:4px;
        width: 30%;
        transform: translateX(115%);
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);

    }

    .cards{
        vertical-align: baseline;
        display: inline-block;
        width: 100%;

    }
    

    .card{
        position: relative;
        transition: all 1s;

        margin-bottom: 60px;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
        margin-bottom: 10dp;
        padding: 2rem;
        display: flex;

        .card-img{
            position: relative

        }

        img{
            position: relative;
            display: block;
            max-width: 25rem;
            min-width: 25rem;
        
    
        }

        .card-info{

            position:relative;

            .text-project{
                margin: 0.5rem 0 1rem 2rem;
                text-transform: uppercase;
            }

            p{
                margin: 3rem 0 1rem 2rem;
                font-size: 1.7rem;


            }   

            .github{

                display: flex;
                box-sizing: border-box;
                flex-wrap: wrap;


  
                .github-info{
                
                    box-sizing: border-box;
                    letter-spacing: 0.05rem;
                    border-radius: 0.4rem;
                    display: flex;
                    margin: 4rem 0 1rem 1.5rem;
                    align-items: center;
                    border-radius: 4px;
                    line-height: 40px;
                    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
                    text-decoration: none;
                    transition: all .15s ease;
                    min-width: 15rem;
                    max-width: 15rem;

                     a{
                         display: flex;
                         font-size: 1.3rem;
                         align-items: center;
                         margin: 0;
                         
                         

                         img{
                            min-width: 4rem;
                            max-width: 4rem;
                            margin: 1rem;
                         }
                     }

                     a:hover{
                        zoom: 101%;
                        font-weight: bolder;
                        
                     } 
       
                }
                .codes-info{
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    letter-spacing: 0.05rem;
                    border-radius: 0.4rem;
                    margin: 4rem 0 1rem 1.5rem;
                    align-items: center;
                    border-radius: 4px;
                    line-height: 40px;
                    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
                    text-decoration: none;
                    transition: all .15s ease;
                    min-width: 11.5rem;
                    max-width: 11.5rem;


                    .img-java{
                        margin: 1rem;
                        min-width: 4rem;
                        max-width: 4rem;

                    }

                    p{
                        margin: 0.5rem;
                        font-size: 1.3rem;
                
                        margin: 0;
                    }
                  

                }

                .codes-info2{
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    letter-spacing: 0.05rem;
                    border-radius: 0.4rem;
                    margin: 4rem 0 1rem 1.5rem;
                    align-items: center;
                    border-radius: 4px;
                    line-height: 40px;
                    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
                    text-decoration: none;
                    transition: all .15s ease;
                    min-width: 9.5rem;
                    max-width: 9.5rem;

                    p{
                        font-size: 1.3rem;
                        margin: 0;

                    }

                    
                    .img-android{
                        margin: 1rem;
                        min-width: 4rem;
                        max-width: 4rem;

                    }
                }

                .codes-info3{
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    letter-spacing: 0.05rem;
                    border-radius: 0.4rem;
                    margin: 4rem 0 1rem 1.5rem;
                    align-items: center;
                    border-radius: 4px;
                    line-height: 40px;
                    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
                    text-decoration: none;
                    transition: all .15s ease;
                    min-width: 10rem;
                    max-width: 10rem;

                    p{
                        font-size: 1.3rem;
                        margin: 0;

                    }

                    
                    .img-android{
                        margin: 1rem;
                        min-width: 4rem;
                        max-width: 4rem;

                    }


                }

                .codes-info4{
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    letter-spacing: 0.05rem;
                    border-radius: 0.4rem;
                    margin: 4rem 0 1rem 1.5rem;
                    align-items: center;
                    border-radius: 4px;
                    line-height: 40px;
                    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
                    text-decoration: none;
                    transition: all .15s ease;
                    min-width: 9rem;
                    max-width: 9rem;

                    p{
                        font-size: 1.3rem;
                        margin: 0;

                    }

                    
                    .img-android{
                        margin: 1rem;
                        min-width: 4rem;
                        max-width: 4rem;

                    }


                }

                .codes-info5{
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    letter-spacing: 0.05rem;
                    border-radius: 0.4rem;
                    margin: 4rem 0 1rem 1.5rem;
                    align-items: center;
                    border-radius: 4px;
                    line-height: 40px;
                    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
                    text-decoration: none;
                    transition: all .15s ease;
                    min-width: 11rem;
                    max-width: 11rem;

                    p{
                        font-size: 1.3rem;
                        margin: 0;

                    }

                    
                    .img-android{
                        margin: 1rem;
                        min-width: 4rem;
                        max-width: 4rem;

                    }


                }

                .codes-info6{
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    letter-spacing: 0.05rem;
                    border-radius: 0.4rem;
                    margin: 4rem 0 1rem 1.5rem;
                    align-items: center;
                    border-radius: 4px;
                    line-height: 40px;
                    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
                    text-decoration: none;
                    transition: all .15s ease;
                    min-width: 10rem;
                    max-width: 10rem;

                    p{
                        font-size: 1.3rem;
                        margin: 0;

                    }

                    
                    .img-java{
                        margin: 1rem;
                        min-width: 4rem;
                        max-width: 4rem;

                    }


                }

                .codes-info7{
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    letter-spacing: 0.05rem;
                    border-radius: 0.4rem;
                    margin: 4rem 0 1rem 1.5rem;
                    align-items: center;
                    border-radius: 4px;
                    line-height: 40px;
                    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.2);
                    text-decoration: none;
                    transition: all .15s ease;
                    min-width: 16.5rem;
                    max-width: 16.5rem;

                    p{
                        font-size: 1.3rem;
                        margin: 0;

                    }

                    
                    .img-android{
                        margin: 1rem;
                        min-width: 4rem;
                        max-width: 4rem;

                    }
                }
            }
        }
    }

}


@media screen and(max-width: 1450px){
    .card{
        flex-direction: column;
        max-width: 80rem;

        .card-img{

            display: none;
        }

    }
    

}

