
html{
font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    font-family: 'Bitter', serif;
    background: #f1f7f9;


}

h2{
    font-size: 8rem;
    //font-family: 'Lobster', cursive;
    color: #444649;
    font-family: 'Raleway', sans-serif;
    
}

h3{
    font-size: 3.5rem;

}

h4{
    font-size: 2rem;

}

p{
    font-size: 2.5rem;

}

li{
    font-size: 2rem;
    color: #444649;
}

a{
    text-decoration: none;
    color: #444649;
}


@import "home";
@import "projects";
@import "contact";