html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Bitter', serif;
  background: #f1f7f9;
  -webkit-transform: preserve-3d;
          transform: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

h2 {
  font-size: 8rem;
  color: #444649;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
  color: #444649;
}

a {
  text-decoration: none;
  color: #444649;
}

.home {
  background: url(/images/howling-red-zATDM3xbOBI-unsplash.jpg) repeat fixed 100%;
  background-size: cover;
  height: 85vh;
  background-position: center;
  position: relative;
}

/*My navigation bar */
nav {
  width: 55%;
  margin: auto;
  min-height: 15vh;
  max-height: 15vh;
  padding: 3rem 0rem;
  /*Padding between Projects and Contact me*/
}

nav ul {
  text-align: right;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 3rem 3rem;
  display: inline-block;
  text-align: center;
}

nav a::after {
  content: "";
  width: 0%;
  height: 5px;
  display: block;
  margin-top: 10px;
  background-color: #d0d0d0;
}

nav a:hover::after {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.showcase {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  -ms-grid-columns: 22.5% (minmax(3rem, 1fr))[3] 22.5%;
      grid-template-columns: 22.5% repeat(3, minmax(3rem, 1fr)) 22.5%;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

.showcase h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 6em;
  color: blanchedalmond;
}

.showcase p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.showcase .typing {
  font-size: 5rem;
}

.showcase .typing::before {
  content: "> ";
}

.showcase .typingTwo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 3em;
}

.showcase .typingTwo::before {
  font-size: 1.5em;
  content: "> ";
}

.showcase .typingTwo::after {
  content: "";
  right: 1px;
  height: 90%;
  border-right: 8px solid #444649;
  -webkit-animation: blink 1s infinite ease;
          animation: blink 1s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projects-container {
  position: relative;
}

/*Project section */
.projects {
  min-height: 90vh;
  width: 65%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects h2 {
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-size: 5rem;
}

.projects h2::after {
  content: ' ';
  display: block;
  border: 2px solid #d0d0d0;
  border-radius: 4px;
  width: 30%;
  -webkit-transform: translateX(115%);
          transform: translateX(115%);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.projects .cards {
  vertical-align: baseline;
  display: inline-block;
  width: 100%;
}

.projects .card {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-bottom: 60px;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10dp;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .card .card-img {
  position: relative;
}

.projects .card img {
  position: relative;
  display: block;
  max-width: 25rem;
  min-width: 25rem;
}

.projects .card .card-info {
  position: relative;
}

.projects .card .card-info .text-project {
  margin: 0.5rem 0 1rem 2rem;
  text-transform: uppercase;
}

.projects .card .card-info p {
  margin: 3rem 0 1rem 2rem;
  font-size: 1.7rem;
}

.projects .card .card-info .github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .card .card-info .github .github-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.05rem;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem 0 1rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  line-height: 40px;
  -webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  min-width: 15rem;
  max-width: 15rem;
}

.projects .card .card-info .github .github-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.projects .card .card-info .github .github-info a img {
  min-width: 4rem;
  max-width: 4rem;
  margin: 1rem;
}

.projects .card .card-info .github .github-info a:hover {
  zoom: 101%;
  font-weight: bolder;
}

.projects .card .card-info .github .codes-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.05rem;
  border-radius: 0.4rem;
  margin: 4rem 0 1rem 1.5rem;
  align-items: center;
  border-radius: 4px;
  line-height: 40px;
  -webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  min-width: 11.5rem;
  max-width: 11.5rem;
}

.projects .card .card-info .github .codes-info .img-java {
  margin: 1rem;
  min-width: 4rem;
  max-width: 4rem;
}

.projects .card .card-info .github .codes-info p {
  margin: 0.5rem;
  font-size: 1.3rem;
  margin: 0;
}

.projects .card .card-info .github .codes-info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.05rem;
  border-radius: 0.4rem;
  margin: 4rem 0 1rem 1.5rem;
  align-items: center;
  border-radius: 4px;
  line-height: 40px;
  -webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  min-width: 9.5rem;
  max-width: 9.5rem;
}

.projects .card .card-info .github .codes-info2 p {
  font-size: 1.3rem;
  margin: 0;
}

.projects .card .card-info .github .codes-info2 .img-android {
  margin: 1rem;
  min-width: 4rem;
  max-width: 4rem;
}

.projects .card .card-info .github .codes-info3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.05rem;
  border-radius: 0.4rem;
  margin: 4rem 0 1rem 1.5rem;
  align-items: center;
  border-radius: 4px;
  line-height: 40px;
  -webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  min-width: 10rem;
  max-width: 10rem;
}

.projects .card .card-info .github .codes-info3 p {
  font-size: 1.3rem;
  margin: 0;
}

.projects .card .card-info .github .codes-info3 .img-android {
  margin: 1rem;
  min-width: 4rem;
  max-width: 4rem;
}

.projects .card .card-info .github .codes-info4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.05rem;
  border-radius: 0.4rem;
  margin: 4rem 0 1rem 1.5rem;
  align-items: center;
  border-radius: 4px;
  line-height: 40px;
  -webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  min-width: 9rem;
  max-width: 9rem;
}

.projects .card .card-info .github .codes-info4 p {
  font-size: 1.3rem;
  margin: 0;
}

.projects .card .card-info .github .codes-info4 .img-android {
  margin: 1rem;
  min-width: 4rem;
  max-width: 4rem;
}

.projects .card .card-info .github .codes-info5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.05rem;
  border-radius: 0.4rem;
  margin: 4rem 0 1rem 1.5rem;
  align-items: center;
  border-radius: 4px;
  line-height: 40px;
  -webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  min-width: 11rem;
  max-width: 11rem;
}

.projects .card .card-info .github .codes-info5 p {
  font-size: 1.3rem;
  margin: 0;
}

.projects .card .card-info .github .codes-info5 .img-android {
  margin: 1rem;
  min-width: 4rem;
  max-width: 4rem;
}

.projects .card .card-info .github .codes-info6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.05rem;
  border-radius: 0.4rem;
  margin: 4rem 0 1rem 1.5rem;
  align-items: center;
  border-radius: 4px;
  line-height: 40px;
  -webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  min-width: 10rem;
  max-width: 10rem;
}

.projects .card .card-info .github .codes-info6 p {
  font-size: 1.3rem;
  margin: 0;
}

.projects .card .card-info .github .codes-info6 .img-java {
  margin: 1rem;
  min-width: 4rem;
  max-width: 4rem;
}

.projects .card .card-info .github .codes-info7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.05rem;
  border-radius: 0.4rem;
  margin: 4rem 0 1rem 1.5rem;
  align-items: center;
  border-radius: 4px;
  line-height: 40px;
  -webkit-box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  min-width: 16.5rem;
  max-width: 16.5rem;
}

.projects .card .card-info .github .codes-info7 p {
  font-size: 1.3rem;
  margin: 0;
}

.projects .card .card-info .github .codes-info7 .img-android {
  margin: 1rem;
  min-width: 4rem;
  max-width: 4rem;
}

@media screen and (max-width: 1450px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 80rem;
  }
  .card .card-img {
    display: none;
  }
}

.contact-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70vh;
}

.contact-container .contact-box {
  max-width: 100%;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
}

.contact-container .contact-box .contact-left {
  height: 70vh;
  background: url(/images/jay-mantri-TFyi0QOx08c-unsplash.jpg) no-repeat center;
  background-size: cover;
}

.contact-container .contact-box .contact-right {
  padding: 25px 40px;
}

.contact-container .contact-box .contact-right .field {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(230, 230, 230, 0.6);
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 2rem;
  margin-bottom: 22px;
}

.contact-container .contact-box .contact-right .field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contact-container .contact-box .contact-right .field:focus {
  border: 2px solid #d0d0d0;
}

.contact-container .contact-box .contact-right .area {
  min-height: 150px;
  font-size: 2.5rem;
  max-height: 270px;
  resize: vertical;
}

.contact-container .contact-box .contact-right .submit {
  border: 2px solid #fff;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-container .contact-box h2 {
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 5rem;
  padding-bottom: 10px;
}

.contact-container .contact-box h2::after {
  content: ' ';
  display: block;
  border: 2px solid #d0d0d0;
  border-radius: 4px;
  width: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.contact-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/images/jay-mantri-TFyi0QOx08c-unsplash.jpg) no-repeat center;
  background-size: cover;
  z-index: -1;
  -webkit-filter: blur(90px);
          filter: blur(90px);
}

.footer {
  font-size: 15rem;
  line-height: 0.5em;
  font-family: 'Bitter', serif;
  text-align: center;
  color: #444649;
}
/*# sourceMappingURL=style.css.map */